<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link href="./styles/style.css" rel="stylesheet"/>
  <link href="./styles/directory.css" rel="stylesheet"/>
</head>
<body>

  <header class="page-header">
    <a href="#go-home" class="home-icon">
      <i class="icon  icon-home" aria-label="home icon"></i>
    </a>

  </header>

  <main>
    <section>

      <header class="section-heading">
        <h1>Find a Dentist</h1>
        <p><a>Log in</a> to find dentists in your plan.</p>
      </header>

      <form action="directory-search.html" method="post" id='address_form' autocomplete="off" >
        <div class="form-element form-element--location">
          <label for="location">Near</label>
          <input id="location" type="text" name="location" placeholder="Zip code, city, or address">
        </div>

        <div class="dropdown">
          <button type="button" class="dropdown__toggle btn--primary inverted">Refine Search</button>

          <div class="dropdown__menu">
            <div class="form-element">
              <label for="distance">Distance</label>
              <select id="distance" name="distance">
                <option value="5">Within 5 Miles</option>
                <option value="10">Within 10 Miles</option>
                <option value="15">Within 15 Miles</option>
                <option value="25">Within 25 Miles</option>
                <option value="35">Within 35 Miles</option>
                <option value="60" selected="selected">Within 60 Miles</option>
              </select>
            </div>

            <fieldset class="form-element">
              <legend>Specialty</legend>
              <label for="specialty_General-Dentist" class="form-element__checkbox">
                <input id="specialty_General-Dentist" type="checkbox" name="specialty" value="general">General Dentist
              </label>

              <label for="specialty_Endodontist" class="form-element__checkbox">
                <input id="specialty_Endodontist" type="checkbox" name="specialty" value="endodontist">Endodontist
              </label>

              <label for="specialty_Oral-Surgeon" class="form-element__checkbox">
                <input id="specialty_Oral-Surgeon" type="checkbox" name="specialty" value="surgen">Oral Surgeon
              </label>

              <label for="specialty_Orthodontist" class="form-element__checkbox">
                <input id="specialty_Orthodontist" type="checkbox" name="specialty" value="orthodontist">Orthodontist
              </label>

              <label for="specialty_Pediatric-Dentist" class="form-element__checkbox">
                <input id="specialty_Pediatric-Dentist" type="checkbox" name="specialty" value="pediatric">Pediatric Dentist
              </label>

              <label for="specialty_Periodontist" class="form-element__checkbox">
                <input id="specialty_Periodontist" type="checkbox" name="specialty" value="periodontist">Periodontist
              </label>

              <label for="specialty_Prosthodontist" class="form-element__checkbox">
                <input id="specialty_Prosthodontist" type="checkbox" name="specialty" value="prosthodontist">Prosthodontist
              </label>

              <label for="specialty_Public-Health-Dentist" class="form-element__checkbox">
                <input id="specialty_Public-Health-Dentist" type="checkbox" name="specialty" value="public">Public Health Dentist
              </label>

              <label for="specialty_Full-Time-Faculty" class="form-element__checkbox">
                <input id="specialty_Full-Time-Faculty" type="checkbox" name="specialty" value="full-time">Full-time Faculty
              </label>

              <label for="specialty_Hygienist" class="form-element__checkbox">
                <input id="specialty_Hygienist" type="checkbox" name="specialty" value="hygienist">Hygienist
              </label>

              <label for="specialty_XR-Laboratory" class="form-element__checkbox">
                <input id="specialty_XR-Laboratory" type="checkbox" name="specialty" value="xr">X-RAY Laboratory
              </label>

              <label for="specialty_Oral-Pathology" class="form-element__checkbox">
                <input id="specialty_Oral-Pathology" type="checkbox" name="specialty" value="pathology">Oral Pathology
              </label>
            </fieldset>
          </div>
        </div>

        <div class="form-element form-element--submit">
          <button class="btn--secondary btn--icon" type="submit">
            <i class="icon icon-before icon-search-black" aria-label="search icon" ></i>
          </button>
        </div>

      </form>

      {{#if provider }}
      <ul class="provider-list">
        {{#each provider }}
        <li class="provider-listing">
          <article>
            <aside>

              <div class="provider__distance">
                <i class="icon  icon-map-marker" aria-label=""></i>
                <span>{{distance}}</span>
              </div>

              <div class="provider__link">
                <a href="{{@root.providerDetailsPage}}?providerKey={{providerKey}}&lat={{@root.lat}}&long={{@root.long}}">View <i class="icon icon-right-arrow" aria-label="right arrow"></i></a>
              </div>

            </aside>

            <section>

              <header >
                <h5 class="provider__name">{{firstName}} {{lastName}}</h5>
                <p class="provider__specialty">{{specialty}}</p>
              </header>

              <div class="provider__network">
                <p><i class="icon icon-info" aria-label=""></i>{{providerNetworks}}</p>

                <p><i class="icon icon-check-circle" aria-label=""></i> Accepting new patients</p>
              </div>

              <div class="provider__address-name">{{officeName}}</div>

              <div class="provider__address">{{address.addressLine}}, {{address.city}}, {{address.state}} {{address.zipcode}}</div>


            </section>
          </article>
        </li>
        {{/each}}
      </ul>
      {{/if}}

    </section>
  </main>

  <footer class="page-footer">
    <a href="#go-home" class="logo">
      <img src="../../images/logo-primary-alternate.png" srcset="../../images/logo-primary-alternate.svg" alt="Delta Dental Logo">

    </a>

    <div class="footer__feedback">
      <div class="footer__feedback-button">
        <button class="btn--feedback">
          FEEDBACK
        </button>

      </div>
      <div class="footer__feedback-contact">
        <span>Need Help?</span>
        <p><a class="phone-link">844.847.9516</a></p>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav">
        <li>
          <a href="#go-somewhere">Contact Us</a>
        </li>
        <li>
          <a href="#go-somewhere">Language Assistance</a>
        </li>
        <li>
          <a href="#go-somewhere">Legal Notices</a>
        </li>
        <li>
          <a href="#go-somewhere">Privacy</a>
        </li>
      </ul>
    </nav>

    <p class="copyright">© Delta Dental</p>
    <p class="disclaimer">This site is the home of Delta Dental of California, Delta Dental Insurance Company, Delta Dental of Pennsylvania, Delta Dental of the District of Columbia, Delta Dental of Delaware, Delta Dental of West Virginia, their affiliated companies, and Delta
      Dental of New York. For other Delta Dental Plans Association member companies, visit the Delta Dental Plans Association website.</p>
    </footer>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwM4PtsUrx03bFU9UhqI44KwdXXqbiGJQ&libraries=places" defer="defer"></script>
    <script src="./jquery.min.js" defer="defer"></script>
    <script src="./main.js" defer="defer"></script>

  </body>
  </html>
