<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href="{{stylesheet}}" rel="stylesheet"/>
  </head>
  <body>
  {{> (lookup . "body") }}
  </body>
  {{#each scripts}}
  <script src="{{script}}" defer="defer"></script>
  {{/each}}
  <input id="latlong" type="hidden" name="location" value="{{lat}}, {{long}}">
  <script src="../public/template3.js" defer="defer">mapLocation($('#latlong').val())</script>
</html>
