<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link href="./styles/style.css" rel="stylesheet"/>
  <link href="./styles/directory.css" rel="stylesheet"/>
</head>
<body>

  <header class="page-header">
    <a href="{{@root.directorySearchPage}}?&lat={{@root.lat}}&long={{@root.long}}" class="inverted back-link">
      <span class="chevron chevron--left chevron--white"></span>
      <span>Back to search results</span>
    </a>

  </header>

  <main>
    <article class="provider">
      <aside class="provider__aside">
        <div class="provider__distance">
          <i class="icon  icon-map-marker" aria-label=""></i>

          <span>{{distance}} mi</span>
        </div>
      </aside>
      <section>
        <header class="provider__header">
          <div class="provider__name">{{firstName}} {{lastName}}</div>
          <div class="provider__specialty">{{specialty}}</div>
        </header>


        <div class="provider__indicators">
          <div class="provider__network"><i class="icon icon-info icon-default" aria-label=""></i> {{providerNetworks}}
          </div>
          <div class="provider__availability"><i class="icon icon-check-circle icon-default" aria-label=""></i> Accepting new patients</div>
        </div>

        <div class="provider__map">
          <div id="map" style="width: 100%; height: 100%;"></div>

        </div>

        <div class="provider__place" itemscope="" itemprop="place" itemtype="http://schema.org/Place">
          <div class="provider__place-name" itemprop="name">{{officeName}}</div>
          <div class="provider__facility" itemprop="id">{{facilityName}}</div>
          <div class="provider__address" itemscope="" itemprop="address" itemtype="http://schema.org/PostalAddress">
            <div class="provider__address-street" itemprop="streetAddress">{{address.addressLine}}</div>
            <span class="provider__address-city" itemprop="addressLocality">{{address.city}}</span>,
            <abbr class="provider__address-state" itemprop="addressRegion">{{address.state}}</abbr>
            <span class="provider__address-zip" itemprop="postalCode">{{address.zipcode}}</span>
            <div class="provider__phone" itemprop="telephone">{{officePhone}}</div>
          </div>
        </div>

        <div class="provider__hours">
          <dl>
            <dt>Hours</dt>
            {{#if practiceHours.mondayHours}}
              <dd>Monday: {{practiceHours.mondayHours}}</dd>
            {{else}}
              <dd>Monday: N/A</dd>
            {{/if}}

            {{#if practiceHours.tuesdayHours}}
              <dd>Tuesday: {{practiceHours.tuesdayHours}}</dd>
            {{else}}
              <dd>Tuesday: N/A</dd>
            {{/if}}

            {{#if practiceHours.wednesdayHours}}
              <dd>Wednesday: {{practiceHours.wednesdayHours}}</dd>
            {{else}}
              <dd>Wednesday: N/A</dd>
            {{/if}}

            {{#if practiceHours.thursdayHours}}
              <dd>Thursday: {{practiceHours.thursdayHours}}</dd>
            {{else}}
              <dd>Thursday: N/A</dd>
            {{/if}}

            {{#if practiceHours.fridayHours}}
              <dd>Friday: {{practiceHours.fridayHours}}</dd>
            {{else}}
              <dd>Friday: N/A</dd>
            {{/if}}

            {{#if practiceHours.saturdayHours}}
              <dd>Saturday: {{practiceHours.saturdayHours}}</dd>
            {{else}}
              <dd>Saturday: N/A</dd>
            {{/if}}

            {{#if practiceHours.sundayHours}}
              <dd>Sunday: {{practiceHours.sundayHours}}</dd>
            {{else}}
              <dd>Sunday: N/A</dd>
            {{/if}}
            <!-- <dd>Monday: {{practiceHours.mondayHours}}</dd>
            <dd>Tuesday: {{practiceHours.tuesdayHours}}</dd>
            <dd>Wednesday: {{practiceHours.wednesdayHours}}</dd>
            <dd>Thursday: {{practiceHours.thursdayHours}}</dd>
            <dd>Friday: {{practiceHours.fridayHours}}</dd>
            <dd>Saturday: {{practiceHours.saturdayHours}}</dd>
            <dd>Sunday: {{practiceHours.sundayHours}}</dd> -->
          </dl>

        </div>

        <div class="provider__access">
          <dl>
            <dt>Office Access</dt>
            <dd>Free Parking: {{accessibility.freeParking}}</dd>
            <dd>Wheel Chair Access: {{accessibility.wheelChairAccess}}</dd>
            <dd>Public Transit Access: {{accessibility.publicTransitAccess}}</dd>
            <dd>Internet Access: {{accessibility.internetAccess}}</dd>
          </dl>

        </div>

        <div class="provider__languages">
          <dl>
            <dt>Languages at this office</dt>
            <dd>{{languages}}</dd>
          </dl>

        </div>

        <div class="provider__data">
          <table class="data__table">
            <tbody><tr class="data__row">
              <th class="data__row--heading">Provider NPI</th>
              <td class="data__row--cell">{{npi}}</td>
            </tr>
            <tr class="data__row">
              <th class="data__row--heading">License #</th>
              <td class="data__row--cell">{{license.licenseNumber}}</td>
            </tr>
            <tr class="data__row">
              <th class="data__row--heading">License State</th>
              <td class="data__row--cell">{{license.licenseState}}</td>
            </tr>
            <tr class="data__row">
              <th class="data__row--heading">Education</th>
              {{#each education}}
                <td class="data__row--cell">{{institute}}</td>
              {{else}}
                <td class="data__row--cell">N/A</td>
              {{/each}}
            </tr>
            <tr class="data__row">
              <th class="data__row--heading">Gender</th>
              <td class="data__row--cell">{{gender}}</td>
            </tr>
          </tbody></table>
        </div>

      </section>
    </article>
  </main>

  <footer class="page-footer">
    <a href="#go-home" class="logo">
      <img src="../../images/logo-primary-alternate.png" srcset="../../images/logo-primary-alternate.svg" alt="Delta Dental Logo">

    </a>

    <div class="footer__feedback">
      <div class="footer__feedback-button">
        <button class="btn--feedback">
          FEEDBACK
        </button>

      </div>
      <div class="footer__feedback-contact">
        <span>Need Help?</span>
        <p><a class="phone-link">844.847.9516</a></p>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav">
        <li>
          <a href="#go-somewhere">Contact Us</a>
        </li>
        <li>
          <a href="#go-somewhere">Language Assistance</a>
        </li>
        <li>
          <a href="#go-somewhere">Legal Notices</a>
        </li>
        <li>
          <a href="#go-somewhere">Privacy</a>
        </li>
      </ul>
    </nav>

    <p class="copyright">© Delta Dental</p>
    <p class="disclaimer">This site is the home of Delta Dental of California, Delta Dental Insurance Company, Delta Dental of Pennsylvania, Delta Dental of the District of Columbia, Delta Dental of Delaware, Delta Dental of West Virginia, their affiliated companies, and Delta
      Dental of New York. For other Delta Dental Plans Association member companies, visit the Delta Dental Plans Association website.</p>
  </footer>


  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwM4PtsUrx03bFU9UhqI44KwdXXqbiGJQ&libraries=places" defer="defer"></script>
  <script src="./jquery.min.js" defer="defer"></script>
  <script src="./template3.js" defer="defer"></script>

</body>
</html>
