<script id="autosuggest-template" type="text/x-handlebars-template">
  {{#with autosuggest}}
  <div class="autosuggest-container" style="display:none">
    {{#if specialties}}
      <div class="autosuggest__heading">
        <p>
          Specialties
        </p>
      </div>
      <ul class="autosuggest-list" role="listbox">
        {{#each specialties}}
          <li class="autosuggest-item" role="presentation">
            <div class="">
              <div class="autosuggest__icon">
                <i class="icon icon-search-black"></i>
              </div>
              <div class="autosuggest__term">
                <span class="autosuggest__name">{{name}}</span>
              </div>
            </div>
          </li>
        {{/each }}
      </ul>
    {{/if}}
    {{#if dentists}}
      <div class="autosuggest__heading">
        <p>
          Dentists
        </p>
      </div>
      <ul class="autosuggest-list" role="listbox">
        {{#each dentists}}
          <li class="autosuggest-item" role="presentation">
            <div class="">
              <div class="autosuggest__icon">
                <i class="icon icon-user"></i>
              </div>
              <div class="autosuggest__term">
                <span class="autosuggest__name">{{name}}</span>
                <span class="autosuggest__specialty">{{specialty}}</span>
                <div class="autosuggest__address">
                  <span class="autosuggest__address-street">{{address.addressLine}}</span>
                  <span class="autosuggest__address-city">{{address.city}}, </span>
                  <span class="autosuggest__address-state">{{address.state}}</span>
                </div>
              </div>
            </div>
          </li>
        {{/each }}
      </ul>
    {{/if}}
    {{#if offices}}
      <div class="autosuggest__heading">
        <p>
          Dentist offices
        </p>
      </div>
      <ul class="autosuggest-list" role="listbox">
        {{#each offices}}
          <li class="autosuggest-item" role="presentation">
            <div class="">
              <div class="autosuggest__icon">
                <i class="icon icon-office"></i>
              </div>
              <div class="autosuggest__term">
                <span class="autosuggest__name">{{name}}</span>
                <div class="autosuggest__address">
                  <span class="autosuggest__address-street">{{address.addressLine}}</span>
                  <span class="autosuggest__address-city">{{address.city}}, </span>
                  <span class="autosuggest__address-state">{{address.state}}</span>
                </div>
              </div>
            </div>
          </li>
        {{/each }}
      </ul>
    {{/if}}
  </div>
  {{/with}}
</script>
